{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^((core)|(modules)|(defaultMessages)|(libs)|(stories)(theme)|(bundles)|(start)|(utils)|(types))/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
